<div class="home">
  <a href="/home">Home</a>
  </div>
<div class="flex">
  <div class="header">
 <h1>Add Cars</h1>
  </div>
 <div class="login">
   </div>
   <div class="outer">
 <form action="/addcars" method="post" enctype="multipart/form-data">
 <div class="row">
 <label>make</label>
 <input type="text" placeholder="carmake" name='carmake' required><br>
  </div>
   <div class="row">
 <label>model</label>
 <input type="text" placeholder="carmodel" name="carmodel" required ><br>
 </div>
   <div class="row">
 <label>year</label>
 <input type="number" placeholder="yearofmanufacture" name="yearofmanufacture" ><br>
 </div>
   <div class="row">
 <label>mileage</label>
 <input type="number" placeholder="mileage" name="mileage"><br>
 </div>
 <div class="row">
 <label>engine</label>
 <input type="text" placeholder="engine" name="engine"><br>
 </div>
 <div class="row">
 <label>transmission</label>
 <input type="text" placeholder="transmission" name="transmission"><br>
 </div>
 <div class="row">
 <label>color</label>
 <input type="text" placeholder="color" name='color'><br>
  </div>
   <div class="row">
 <label>price</label>
 <input type="text" placeholder="price" name="price"><br>
 </div>
   <div class="row">
 <label>location</label>
 <input type="text" placeholder="location" name="location"><br>
 </div>
   <div class="row">
 <label>description</label>
 <input type="textarea" placeholder="description" name="description"><br>
 </div>
 <div class="row">
 <label>condition</label>
 <input type="text" placeholder="condition" name="condition"><br>
 </div>
 <div class="row">
 <label>bodytype</label>
 <input type="text" placeholder="bodytype" name="bodytype"><br>
 </div>
 <div class="row">
 <label>duty </label>
 <input type="text" placeholder="duty" name='duty'><br>
  </div>
   <div class="row">
 <label>Interior</label>
 <input type="text" placeholder="carmodel" name="interior"><br>
 </div>
 <div class="row">
 <label>Pictures Upload</label>
 <input type="file"  name="image"  multiple><br>
 </div>
</div>
<div class="inner">
 <div class="row">
 <label>airbag</label>
 <input type="checkbox" name="airbag" value="airbag">airbag
 </div>
 <div class="row">
 <label>Electric Mirrors</label>
 <input type="checkbox" name="electricmirrors" value="electricmirrors">Electric Mirrors
 </div>
 <div class="row">
 <label>Traction Control</label>
 <input type="checkbox" name="tractioncontrol" value="tractioncontrol">Traction Control
 </div>
 <div class="row">
 <label>Air Conditioning</label>
 <input type="checkbox" name="airconditioning" value="airconditioning">Air Conditioning
 </div>
 <div class="row">
 <label>Power Steering</label>
 <input type="checkbox" name="powersteering" value="powersteering">Power Steering
 </div>
 <div class="row">
 <label>AM/FM Radio</label>
 <input type="checkbox" placeholder="amfmradio" name="amfmradio" value="amfmradio">AM/FM radio<br>
 </div>
 <div class="row">
 <label>Front Fog Lamps</label>
 <input type="checkbox" name="frontfoglamps" value="frontfoglamps">Front Fog lamps
 </div>
 <div class="row">
 <label>Electric Windows</label>
 <input type="checkbox" name="electricwindows" value="electricwindows">Electric Windows
 </div>
 <div class="row">
 <label>Alloy Wheels</label>
 <input type="checkbox" name="alloywheels" value="alloywheels">Alloy Wheels
 </div>
 <div class="row">
 <label>Fog Lights</label>
 <input type="checkbox" name="FogLights" value="airbag">Fog Lights
 </div>
 <div class="row">
 <label>Thumbstartignition</label>
 <input type="checkbox" name="Thumbstartignition" value="airbag">Thumbstart Ignition
 </div>
 <div class="row">
 <label></label>
 <button type="submit">submit</button>
 </div>
 </form>
 </div>
</div>

<style>
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home>a{
    width:200px;
    padding: 5px;
    background-color: wheat;
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type:none;
    border-radius:5px;
    box-shadow: 2px 2px 2px currentColor;
    text-decoration: none;

    }
.home{
  width: 80%;
  height: 45px;
  margin: 0 auto;
  background-color:transparent;
  line-height: 45px;
text-align: center;
    border-bottom: 1px solid ivory;
}
.theform{
  display: flex;
  margin: auto;
}
 *,
     ::after,
     ::before
     {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
        font-family:montserrat;
     }
      body
     {
     background-color:rgb(90, 2, 2);
     color:wheat;
  
     }
     .flex{
     display:flex;
     flex-direction:row;
     justify-content:center;
     margin-top:10px;
     }
     .theform{
     width: 450px;
     display:table;
     padding:20px;
     background-color:#2c8F77;
     border:solid 2px #000;
     }
     .row{
     display:table-row;
     }
     .row label{
     display:table-cell;
     padding:10px;
     text-align:right;
     padding:10px;
     }

     .row input{
     display:table-cell;
     padding:10px;
     margin-top:10px;
     font-family:montserrat;
     }
     .row button{
     display:table-cell;
     padding:2px;
     padding:5px 40px;
     margin-top:10px;
     cursor:pointer;
     outline:none;
     border:none;
     }
     .login{
       font-family: montserrat;
         font-size:20px;
         margin-top:20px;
     
     }
 .login>a{
         color: wheat;
         text-decoration: none;
 }
     h1{
         margin-bottom:20px;
     }
.inner{
  height: 500px;
  margin: auto 0;
}
.outer{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

     </style>
 