<link href="/css/styles.css" rel="stylesheet" type="text/css">
<h1>Add cars</h1>
<form method="post" action="/addcars">
<label>car make</label>
<input type="text" placeholder="carmake" name='carmake'><br>
<label>car model</label>
<input type="text" placeholder="carmodel" name="carmodel"><br>
<label>year</label>
<input type="text" placeholder="yearofmanufacture" name="yearofmanufacture"><br>
<label>mileage</label>
<input type="text" placeholder="mileage" name="mileage"><br>
<label>engine</label>
<input type="text" placeholder="engine" name="engine"><br>
<label>transmission</label>
<input type="transmission" placeholder="transmission" name="transmission"><br>
<button type="submit">submit</button>
</form>
<a href="/home">Login</a>